.mobile {
  height: 100vh;
  width: 60vw;
  right: 0px;
  position: absolute;
  padding: 18px 12px;
  top: -6px;
  display: flex;
  flex-direction: column;

  flex: 1;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.close-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0px;
  display: flex;
}
.mobile-option a {
  text-decoration: none;
  color: black;
  display: flex;
}
